/* NAVIGATION */
.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 60px;
}

.nav-bar a {
    margin: 0 15px;
    text-decoration: none;
    color: black;
    font-size: 16px;
}

.btn-nav {
    background: black;
    color: white !important;
    padding: 8px 16px;
    border-radius: 6px;
}

/* Titre */
.titre {
    text-align: center;
    font-size: 35px;
    margin-top: 30px;
}

/* PAGE CONNEXION */
.login-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 80px;
    padding: 40px;
    margin-top: 20px;
}

.left-text {
    width: 300px;
    font-size: 15px;
    color: #555;
}

.login-box {
    background: white;
    padding: 30px;
    width: 350px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
}

.login-box label {
    margin-top: 10px;
    font-weight: bold;
}

.login-box input {
    padding: 10px;
    border-radius: 6px;
    border: 1px solid #ddd;
    margin-bottom: 10px;
}

.btn {
    padding: 12px;
    border: none;
    background: black;
    color: white;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 10px;
}

.forgot {
    margin-top: 15px;
    font-size: 14px;
    color: #555;
}
